/*
!/taiga-back/
!/taiga-front/
!/taiga-events/
!/taiga-front-next/
!/.gitignore
!/README.md
!/UPSTREAM.md

**/__pycache__/
**/*.pyc
**/*.mo
**/node_modules/
**/dist/
**/.sass-cache/
**/*.log

taiga-back/settings/local.py
taiga-back/settings/config.py
taiga-back/settings/celery_local.py
taiga-back/media/
taiga-back/static/
taiga-events/config.json
taiga-front/conf/main.coffee
taiga-front/app/config/main.coffee
taiga-front-next/src/configs/config.json
.env
